*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
#sprite{
  width: 204px;
    height: 298px;
    margin: 0 auto;
    overflow: hidden;
}
#image{
  position: relative;
  width: 790px;
  height: 347px;
  animation-name: play;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function: steps(37);
  transform: translateX(0px);

}
@keyframes play{
  100%{
      transform: translateX(-7596px);
  }
}

#sprite-1{
  position: absolute;
  top:0;
  left:0;
}
#sprite-2{
  position: absolute;
  top: -301px;
  left: 15px;
}
#sprite-3{
  position: absolute;
  top: -580px;
    left: 240px;
}
